---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman Example Search:</h1>
  <p>Quick note: For this example, I'm using a sample JSON file with content from <em>Here is History</em>, a passion project of mine. In the search.coffee file, replace <b>$.getJSON '/entries-example.json', (data) -></b> with <b>$.getJSON '/entries.json', (data) -></b></p>
  <form>
    <input class="search-term" type="search" placeholder="example: lorem ipsem" required="required" />
    <input class="search-submit" type="submit" value="Go" />
  </form>
  <div class="search-results"></div>
</div><!-- .welcome -->